:root {
	--grid-size: 550px;
	--character-size: 90px;
	--font-size: 45px;
	--o-colour: #69d2e7;
	--x-colour: #f38680;
	--border-colour: lightsteelblue;
	--background-colour: #f5f7ee;
}

* {
	background-color: var(--background-colour);
	margin: 0;
}

.App {
	height: 80vh;
	display: grid;
	grid-template-rows: 0.33fr 1fr 0.33fr;
}

/* Creates the game grid */
#r0c0,
#r0c1,
#r0c2,
#r1c0,
#r1c1,
#r1c2 {
	border-bottom: 2px solid var(--border-colour);
}
#r0c1,
#r1c1,
#r2c1 {
	border-right: 2px solid var(--border-colour);
	border-left: 2px solid var(--border-colour);
}


@media screen and (max-width: 1200px) and (max-width: 776px) {
	:root {
		--grid-size: 500px;
		--character-size: 80px;
		--font-size: 37.5px;
	}
}

@media screen and (max-width: 850px) and (max-width: 776px) {
	:root {
		--grid-size: 400px;
		--character-size: 75px;
		--font-size: 35px;
	}
}

@media screen and (max-width: 450px) {
	:root {
		--grid-size: 300px;
		--character-size: 45px;
		--font-size: 17.5px;
	}

	.App {
		height: 95vh;
	}
}
