.grid {
	margin: auto;
	width: var(--grid-size);
	height: var(--grid-size);
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
}

.row {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.tile {
	width: 100%;
	height: 100%;
	text-align: center;
}
